/* stylelint-disable color-no-hex  */

$white: #fff;
$black: #121212;
$subtle: #888;
$light: #b3da48;
$dark: #7fba23;
$highlight: #ef3e7a;

$breakpoints: (
  s: 30,
  m: 40,
  l: 50,
  xl: 60,
  xxl: 80
);
