.header {
  background: linear-gradient(120deg, $light, $dark);
  border-bottom: 1px solid rgba($white, 0.25);
  color: $white;
  padding: 2em;
  text-align: center;

  &__logo {
    display: block;
    margin: 0 auto 0.5em;

    @include min-width(m) {
      display: inline;
      margin: 0 0.25em 0 0;
      vertical-align: middle;
    }
  }

  &__title {
    font-size: 2em;
    line-height: 1;
    margin: 0;

    @include min-width(m) {
      font-size: 3em;
    }
  }

  &__subtitle {
    margin: 1em 0 0;
  }
}
